<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
</head>
<body>
    <h1>Budget API</h1>
    <form action="/setbudget" method="post">
      
      <input 
        type="text" 
        name="month"
        placeholder="Month"
        required
      >

      
      <input 
        type="number" 
        name="budget"
        placeholder="Budget Amount"
        required
      >

      <button 
        type="submit" 
      >
      Process
      </button>

    </form>

    
</body>
</html>